.home {
  .headingOne {
    font-size: 40px;
    color: white;
    margin-top: 30px;
    font-family: "Prata", serif;
  }
  .product_heading {
    font-size: 30px;
    color: white;
    font-family: "Prata", serif;
  }
  .product_card {
    border-radius: 5px;
  }
}
